<div id="feature-content">
	<section>
		<h2 align="center">CREACION DE TENANT</h2>
	</section>
	<div>
		<form action="" method="POST">
			
			<label class="formulario">Codigo:</label> 
			<input type="text" class="buscar-consultor" id="" name="usuario" value="" placeholder="Codigo"/>
			<label class="formulario">Nombre:</label> 
			<input type="text" class="buscar-consultor" id="" name="usuario" value=""  placeholder="Nombre"/>
			
			<label class="formulario">Identificacion:</label>
			<input type="text" class="buscar-consultor" id="" name="usuario" value=""  placeholder="Identificacion"/>
			<select name="tipo_identificacion" class="buscar-consultor7">
				<option>Tipo de Identificacion</option>
				<option>Cedula de Ciudadania</option>
				<option>Cedula de Extranjeria</option>
			</select>

			<label class="formulario">Telefono:</label>
			<input type="text" class="buscar-consultor3" placeholder="Telefono"/>
			<label class="formulario">Direccion:</label>
			<input type="text" class="buscar-consultor31" placeholder="Direccion" />
			
		</form>
	</div>
</div>
<div class="2u">
	<p class="button-style">
		<a href="#/tenan" ng-click="consultar()">Consultar</a>
	</p>
</div>
<div class="3u">
	<p class="button-style" align="center">
		<a href="#/tenan" ng-click="crear()">Crear</a>
	</p>
</div>
<div class="2u">
	<p class="button-style">
		<a href="#/tenan" ng-click="cancelar()">Cancelar</a>
	</p>
</div>