<div class="loginWrapper">
	<div class="loginContainer">
		<h1 class="loginH1">Bienvenido...</h1>
		
<h1>PRuebas.-..</h1>		
		<div ng-repeat="p in posts">

	
				<h5> Post #</h5>
				<h2>{{p.nombre}}</h2>
				<p>{{p.apellido}}</p>
			
	<hr />
</div>

		<form class="loginForm">
			<input type="text" class="loginInput" placeholder="Username">
			<input type="password" class="loginInput" placeholder="Password">
			<button ng-click="loginFunction()" type="submit" id="login-button" class="loginButton">Login</button>
		</form>
	</div>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

